#report {
	font: 14px/30px Verdana, Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	border-width: 1px solid #000000;
	width: 1024px;
	height: 1200px;
	}

#report tr {   
        border-left: 1px solid #000000;
        border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	}

#report td {
	border-bottom: 1px solid #000000;
        border-left: 1px solid #000000;
        border-right: 1px solid #000000;
	padding: 0 0.5em;
	}